@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Akshar:wght@300;400&family=Noto+Sans+Old+Permic&family=Roboto:ital,wght@1,300&display=swap');

/*Selector universal para toda la página*/

* {
	color: aliceblue;
	font-family: 'Adamina', serif; /*Familia tipografica o fuente de letra */
	background-color: #28202F;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
    margin-top: 70px !important; /*Margen que se da para poder visualizar el header*/
}

/*HEADER*/

.logo {
	margin-right: 15px;
	height: 5rem;
	width: 8rem;
}
 
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	height: auto;
	top: 0px;
	left: 0;
	border-bottom: 1px solid #D3A448;
    position: fixed;
}

ul {
	display: flex; /*Ayuda a colocar a las cajas como si fueran celdas de tablas, adaptables*/
	color: rgb(252, 189, 246);
	list-style: none; /*Estilo de lista: ninguno (para sacar las bolitas de los items*/
	justify-content: flex-end; /*En el lado derecho de la caja*/
	align-items: center; /*En Y estoy en el centro*/
	padding-left: 0px;
}

ul li {
	width: 10rem;
	border: 1px solid #28202F;
	padding: 10px;
    margin-right: 8px;
    margin-left: 8px;
	justify-content: center;
	text-align: center;
	text-transform: uppercase; /*Mayuscula*/
	background-color: rgb(106, 48, 106);
}

/*Uso selector Descendiente porque esta dentro de dos etiquetas*/

ul li a {
	color: rgb(233, 193, 245);
	font-size: 1rem;
	font-weight: 500; 
	text-align: center;
    text-decoration: none; /*Con none eliminamos la decoracion del texto en este caso con los enlaces el susbrayado y el color azuñ*/
}

ul li a:hover {
	font-size: 20px;
	color: blanchedalmond;
	text-decoration: underline; /*Decoracion de texto*/
}

/* CUERPO DE LA PAGINA (primera seccion) */

.flex {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

h1 {
	margin-bottom: 0 !important; 
	font-weight: 900; 
	font-size: 34px; 
	letter-spacing: 0.5rem;
	background-color: #122816a1; 
}

.section-container, h1 {
	color: #272114;
	background-image: url(./image/imagen9.jpg); /*Imagen de fondo*/
	background-repeat: round;
	background-attachment: fixed; /*La imagen se queda fija cuando haces scrool*/
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	padding: 30px; /*Relleno*/
}

.section-container p {
	text-align: center; /*Alineacion de texto*/
	color: white;
	background-color: #5a5a5a50; 
	font-size: 12px;
	margin-bottom: 0px; /*Margen*/
	padding: 25px;
	width: 100%; /*Ancho de las cajas*/
	height: 100%;
}

/*Segunda seccion*/

.equipo-container, h2, p {
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	letter-spacing: 0.20rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	color: #272114;
	padding: 2rem;
}

/*Tercera seccion*/

main h2 {
	background-color: #28202F !important;
	color: antiquewhite;
}

.card-container {
	margin: 20px;
	display: flex;
	flex-direction: row;
	width: 20rem;
	height: auto;
}

.img-container {
	flex-direction: column;
}

.img-card {
	margin-left: 10px;
	margin-right: 10px;
}

.bio {
	text-align: center;
	padding: 10px;
	color: white;
}

/*FORMULARIO*/

form {
	display: flex;
	width: 100%;
	font-size: 1.5rem;
    margin: 0;
    padding: 20px;
    font-weight: 500;
    justify-content: center;
	display: block;
}

.galery-container {
	display:flex;
	align-items: center;
	column-gap: 20px;
	overflow-x: scroll;
	justify-content: center;
	flex-wrap: wrap;
}

.galery-item {
	display: flex; /*Que se adapte a el scroll*/
	scroll-snap-align: center; /*Esta propiedad se debe usar en el contenedor donde esta nuestras imagenes, por eso item, los mantiene en el centro*/
	min-width: 100%;
}

.img-galery {
	border-radius: 10%;
	width: 20rem;
	height: 15rem;
	margin: 5px;
	padding: 10px 0px 10px 0px;
	align-items: center;
	object-fit: cover;
}

.img-galery:hover {
   width: 21rem;
   height: 16rem;
}

